extends: default.liquid
---

{% for post in posts %}
  <article class="teaser">
    <p class="teaser-date">{{ post.date | date: "%Y-%m-%d %H:%M" }}</p>
    <h3><a href="{{ post.path }}">{{ post.title }}</a></h3>
    {{ post.content | truncatewords: 23, '...' }}
  </article>
{% endfor %}
