<h1>fiji's blog</h1>
<nav>
  <ul class="menu">
    <li><a href="https://blog.fiji-flo.de">home</a></li>
    <li><a href="https://github.com/fiji-flo">github</a></li>
    <li><a href="https://twitter.com/fiji_flo">twitter</a></li>
    <li><a href="https://mozillians.org/u/fiji/">mozillians</a></li>
    <li><a href="https://www.linkedin.com/in/florian-merz-754a0476/">linkedin</a></li>
  </ul>
</nav>